@forward "globals";
@forward "components";
@forward "layout";

// set container wrapper
.full-container {
	width: min(100%, 1111px);
	margin-inline: auto;
	@media (min-width: 768px) {
		width: min(100% - 2.5rem * 2, 1111px); // 40px
	}
}
.container {
	width: min(100% - 1.5rem, 1111px);
	margin-inline: auto;
	@media (min-width: 768px) {
		width: min(100% - 2.5rem * 2, 1111px); // 40px
	}
}

.main-bg {
	position: relative;
	&::before {
		z-index: -1;
		position: absolute;
		width: 100%;
		top: 18%;
		content: url("/assets/shared/desktop/bg-pattern-leaf.svg");
		@media (max-width: 768px) {
			content: none;
		}
	}
}
