@use "../../globals/colors" as *;
.contact {
	background-image: url("../../../public/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg");
	background-repeat: no-repeat;
	background-color: $bg-peach;
	background-position: top left 20%;
	color: $text-white;
	padding-inline: 24px;
	padding-block: 72px;
	@media (min-width: 768px) {
		border-radius: 15px;
		background-image: url("../../../public/assets/contact/desktop/bg-pattern-hero-desktop.svg");
		background-position: top -62% right 190px;
		padding-inline: 58px;
	}
	@media (min-width: 1440px) {
		background-position: top 100% left -28px;
		padding-block: 55px;
		padding-inline: 95px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 95px;
	}

	&__heading {
		margin-bottom: 48px;
		display: flex;
		flex-direction: column;
		gap: 24px;
		text-align: center;
		h1 {
			font-weight: 500;
		}
		@media (min-width: 768px) {
			gap: 32px;
			text-align: left;
		}
		@media (min-width: 1440px) {
			justify-content: center;
		}
	}
	&__form {
		display: grid;
		@media (min-width: 768px) {
		}
	}
	&__wrapper {
		display: grid;
		gap: 25px;
	}

	&__input {
		display: flex;
		flex-direction: column;

		label {
			opacity: 0.5;
		}
		input {
			border-bottom: 1px solid white;
			&:focus {
				outline: none;
				border-bottom: 2px solid white;
			}
		}
	}

	textarea {
		border-bottom: 1px solid white;
		&::placeholder {
			color: $text-white;
			opacity: 0.5;
		}
		&:focus {
			outline: none;
			border-bottom: 2px solid white;
		}
	}
	button {
		place-self: center;
		letter-spacing: 1px;
		border-radius: 8px;
		padding-inline: 48px;
		padding-block: 16px;
		background-color: white;
		color: $text-grey;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		margin-top: 40px;
		&:hover {
			background-color: $bg-peach-light;
			color: $text-white;
		}
		@media (min-width: 768px) {
			place-self: end;
		}
	}
}

