@use "../globals/colors" as *;
.countries {
	position: relative;
	margin-block: 160px;
	overflow-x: clip;
	&::before {
		position: absolute;
		top: 50%;
		right: -25%;
		width: 100%;
		height: auto;
		z-index: -1;
		content: url("../../../public/assets/shared/desktop/bg-pattern-leaf.svg");
		rotate: 180deg;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;

		@media (max-width: 900px) {
			flex-direction: column;
		}
		@media (max-width: 699px) {
			gap: 80px;
		}
	}
	&__item {
		display: grid;
		grid-template-rows: auto;
		place-items: center;
		text-align: center;

		h4 {
			color: $text-grey;
			margin-top: 48px;
			margin-bottom: 32px;
		}
		button {
			font-weight: 500;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: $text-white;
			border-radius: 8px;
			background-color: $bg-peach;
			padding-inline: 18px;
			padding-block: 18px;

			&:hover,
			&:focus {
				background-color: $bg-peach-light;
			}
		}
	}

	&__image {
		position: relative;
	}
	&__bg {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
	}

	&--bg1 {
		rotate: 90deg;
	}
	&--bg2 {
		rotate: -40deg;
	}
	&--bg3 {
		rotate: -90deg;
	}

	@media (max-width: 900px) {
		margin-block: 120px;
		&::before {
			content: "";
		}
	}
}
