@use "../globals/colors" as *;

// intro hero for each page
.page-header {
	background-image: url("../public/assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
	background-repeat: no-repeat;
	background-position: top 0 left 100%;
	padding-block: 105px;
	background-color: $bg-peach;

	&__content {
		color: $text-white;
		padding-inline: 24px;
		gap: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		h1 {
			font-weight: 500;
		}
	}
	@media (min-width: 768px) {
		background-image: url("../public/assets/web-design/desktop/bg-pattern-intro-web.svg");
		background-position: top 47% left 20%;
		border-radius: 15px;
		padding-block: 64px;

		&__content {
			margin-inline: auto;
			max-width: 45ch;
		}
	}
	@media (min-width: 900px) {
		background-position: top 47% right;
	}
}
