@use "../../globals/colors" as *;

.web {
	background-image: url("../../../public/assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
	background-repeat: no-repeat;
	background-position: top 0 left 100%;
	padding-block: 105px;
	background-color: $bg-peach;

	&__content {
		color: $text-white;
		padding-inline: 24px;
		gap: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		h1 {
			font-weight: 500;
		}
	}
}
