@use "../../globals/colors" as *;
.footer {
	&__CTA {
		background-image: url("../../../public/assets/shared/desktop/bg-pattern-call-to-action.svg");
		background-repeat: no-repeat;
		background-position: right;
		z-index: 10;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 16px;
		background-color: $bg-peach;
		padding: 72px 95px 64px 95px;
	}
	&__content {
		max-width: 46ch;
		color: $text-white;

		h2 {
			font-weight: 500;
			margin-bottom: 14px;
			line-height: 40px;
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		ul {
			display: flex;
			li {
				&:nth-child(2) {
					margin-inline: 42px;
				}
			}
			a {
				color: $text-white;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&__logo {
		flex: 1;
		img {
			width: 66%;
		}
	}
	hr.footer__rule {
		width: 100%;
		opacity: 0.2;
		border: none;
		height: 1px;
		background-color: #979797;
		margin: 28px 0 32px 0;
	}
	&--ruletop {
		display: none;
	}
	&--rulebottom {
		display: block;
	}
	&__button {
		text-transform: uppercase;
		font-weight: 500;
		color: $text-grey;
		letter-spacing: 1px;
		border-radius: 8px;
		padding-inline: 24px;
		padding-block: 16px;
		background-color: #ffffff;

		&:hover {
			background-color: $bg-peach-light;
			color: $text-white;
		}
	}
	&__nav {
		background-color: $bg-black;
		margin-top: -89px;
		padding-top: 144px;
		padding-bottom: 72px;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__address {
		opacity: 0.4;
		color: $text-white;
	}
	&__social {
		opacity: 1;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		svg {
			cursor: pointer;
			path {
				fill: $bg-peach;
				&:hover {
					fill: $bg-peach-light;
				}
			}
			margin-left: 1rem;
		}
	}

	@media (max-width: 900px) {
		&__CTA {
			background-position: left;
			flex-direction: column;
			text-align: center;
			gap: 32px;
		}
	}
	@media (max-width: 768px) {
		&__list {
			font-size: 14px;
		}
	}
	@media (max-width: 730px) {
		&__CTA {
			background-position: bottom 53% right 58%;
			padding: 64px 24px;
		}
		&__content {
			max-width: 31ch;
		}
		&__top {
			flex-direction: column;
			margin-inline: auto;
			margin-bottom: 26px;
		}
		&__logo {
			img {
				width: 100%;
			}
		}
		&__list ul {
			flex-direction: column;
			li {
				text-align: center;
				margin-block: 14px;
				&:nth-child(2) {
					margin-inline: 0;
				}
			}
		}
		&--ruletop {
			display: block;
		}
		&--rulebottom {
			display: none;
		}
		&__bottom {
			text-align: center;
			flex-direction: column;
			gap: 40px;
		}
		&__nav {
			margin-top: -183px;
			padding-top: 245px;
		}
	}
}
