@use "../../globals/colors" as *;

.hero {
	background: $bg-peach;
	text-align: center;
	color: $text-white;

	&__wrapper {
		display: grid;
		grid-template-rows: auto 360px;
		overflow: hidden;
		background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
		background-position: left 2% top 54%;
		background-repeat: no-repeat;
	}
	&__title {
		line-height: 36px;
		font-weight: 500;
	}

	&__content {
		padding-inline: 16px;
		padding-block: 80px;
	}

	&__description {
		padding-block: 24px;
	}

	&__button {
		text-transform: uppercase;
		font-weight: 500;
		color: $text-grey;
		letter-spacing: 1px;
		border-radius: 8px;
		padding-inline: 24px;
		padding-block: 16px;
		background-color: #ffffff;
	}

	&__image {
		position: relative;
		top: -180px;

		img {
			margin-inline: auto;
			object-fit: none;
			object-position: center top;
		}
	}
	// Media Queries
	@media screen and (min-width: 768px) {
		width: min(1110px, 100% - 1.5rem * 2);
		margin-inline: auto;
		border-radius: 15px;

		&__wrapper {
			grid-template-rows: auto 375px;
			background-size: contain;
			background-position: right -176px top 92px;
		}

		&__content {
			padding-inline: 58px;
			padding-top: 60px;
			max-width: 60ch;
		}

		&__content,
		&__description {
			margin-inline: auto;
		}

		&__title {
			line-height: 48px;
		}

		&__description {
			max-width: 45ch;
		}
	}

	@media screen and (min-width: 1024px) {
		text-align: left;
		&__wrapper {
			grid-template-columns: auto auto;
			grid-template-rows: 640px;
			background-position: right;
		}
		&__content {
            padding-inline: 0;
			padding-block: 145px;
			padding-left: 96px;
			padding-right: 0;
            margin-inline: 0;
		}
		&__description {
			max-width: 46ch;
			margin-inline: 0;
			padding-bottom: 40px;
		}
		&__image {
			width: 100%;
			height: 100%;
			top: 0;

			img {
				width: 100%;
				height: 100%;
				object-position: center -34px;
			}
		}
		&__button:hover {
			background-color: $bg-peach-light;
			color: $text-white;
		}
	}
}
